/* css declaration */
/* selector{
    property:value;
} */
*{
    margin: 0;
    /* selection by tag */
}
div{
    /* background-color: tomato; */
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    text-align: justify;
}
/* selection by id */
#firstdiv{
    background: tomato;
}
/* selection by class */
.seconddiv{
    background-color: aqua;
}
#thirddiv{
    background-color: blueviolet;
}
section{
    /* background-color: black; */
    /* height: 250px; */
    width: 90%;
    margin: 40px auto;
    text-align: center;
}